.best-sale__title {
  font-size: $font-size--h2;
  font-weight: 700;
  color: $gray--darkest;
}

.best-sale__specialty {
  font-size: $font-size--btn;
  line-height: 20px;
  font-weight: 700;
  color: $color-main--light;
}

.best-sale__price {
  font-size: $font-size--btn;
  line-height: 20px;
  font-weight: 700;
}
