.category__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.category__link {
  position: relative;
  display: flex;
  padding: 26px 28px 29px;

  font-size: $font-size--md + 2px;
  line-height: 24px;
  font-weight: 700;
  color: $text-color--invert;

  &--interior {
    background-color: $color-main--light;

    @include icon-right(23px, 35px, 40px, 63px, "../img/icon-interior.svg");
  }

  &--toys {
    background-color: $color-main--dark;

    @include icon-right(21px, 27px, 60px, 60px, "../img/icon-toy.svg");
  }

  &:hover,
  &:focus {
    position: relative;
    transform: translateY(-5px);

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;

      width: 100%;
      height: 6px;

      background-color: inherit;
    }
  }

  @include text-link($white, $white);
  @include opacity-icon;
}

.category__title {
  width: 130px;
}

@media (min-width: $screen-tablet) {
  .category {
    position: relative;
    background-color: $gray--lightest;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;

      width: 100%;
      height: 20px;

      background: url("../img/bg-zigzag-fill.svg") repeat-x 0 0;
      background-size: $screen-tablet 32px;
    }
  }

  .category__list {
    display: flex;
    margin: 0 50px;
  }

  .category__item {
    width: 50%;
  }

  .category__link {
    padding: 28px 35px 30px;
    padding-right: auto;

    font-size: $font-size--lg;
    line-height: $line-height;

    &--interior {
      background-color: $color-main--light;

      @include icon-right(30px, 35px, 40px, 63px, "../img/icon-interior.svg");
    }

    &--toys {
      background-color: $color-main--dark;

      @include icon-right(30px, 35px, 60px, 60px, "../img/icon-toy.svg");
    }

    &:hover,
    &:focus {
      padding: 28px 35px;
    }
  }

  .category__title {
    width: 170px;
  }
}

@media (min-width: $screen-desktop) {
  .category {
    &::after {
      bottom: 0;
      background-size: 1250px 45px;
      background-position: 20px 0;
    }
  }

  .category__list {
    width: $content-desktop;
    margin: 0 auto 70px;
  }

  .category__link {
    padding-left: 37px;

    &:hover,
    &:focus {
      padding-left: 37px;
    }
  }
}
