.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.contacts__list {
  margin: 41px 29px 9px;

  font-style: normal;
}

.contacts__title {
  margin: 0;
  margin-bottom: 26px;

  font-size: $font-size--md + 1px;
  color: $text-color--title;
}

.contacts__item {
  display: flex;
  margin-bottom: 29px;
}

.contacts__field {
  width: 78px;
}

.contacts__e-mail {
  color: $text-color;
  border-bottom: 1px solid $color-main--light;

  &:hover,
  &:focus {
    color: $color-main--dark;
    border-bottom: 1px solid $color-main--dark;
  }

  &:active {
    color: rgba($color-main--dark, 0.3);
    border-bottom: 1px solid rgba($color-main--dark, 0.3);
  }
}

.contacts__map {
  width: 100%;
}

.contacts__write {
  flex-grow: 1;
  margin: 40px 30px;
  padding: 12px 15px 15px;

  font-size: $font-size--md + 1;
  line-height: 20px;
}

@media (min-width: $screen-tablet) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    margin: 60px 50px 58px;
  }

  .contacts__title {
    width: 100%;
    margin: 0 0 58px -5px;

    font-size: $font-size--md-title;
    color: 50px;
  }

  .contacts__item {
    width: 50%;
    margin: 0;
  }

  .contacts__write {
    flex-grow: 0;
    margin: 55px auto 57px;
    padding: 14px 40px 15px;

    font-size: $font-size--md;
  }
}

@media (min-width: $screen-desktop) {
  .contacts__wrapper {
    width: $content-desktop - 175px;
    margin: 70px auto;
    padding-left: 175px;
  }

  .contacts__title {
    font-size: $font-size--lg-title;
    color: 57px;
  }

  .contacts__list {
    display: block;
    width: 300px;
    margin: 80px 0;
    padding-right: 50px;
  }

  .contacts__item {
    width: 100%;
  }

  .contacts__map {
    width: 525px;
  }

  .contacts__write {
    margin: -52px  auto 0 0;
  }
}
