.features__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  margin-bottom: 56px;
}

.features__title {
  width: 100%;
  margin: 0;
  margin-bottom: 2px;

  font-size: $font-size--sm-title;
  color: $text-color--title;
}

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features__item {
  display: flex;
  padding-top: 83px;
}

.features__item-desc {
  font-size: $font-size--md;
  line-height: 20px;
  font-weight: 700;
  color: $black;
}

@media (min-width: $screen-tablet) {
  .features__wrapper {
    justify-content: space-between;
    width: $content-tablet;
    margin: 55px auto 74px;
  }

  .features__title {
    margin: 0 -5px;
    font-size: $font-size--md-title;
    line-height: 50px;
  }

  .features__list {
    width: 295px;
    padding-right: 39px;

    &--short {
      width: 240px;
      padding-right: 94px;
    }
  }

  .features__item {
    padding: 102px 0 10px;
  }

  .features__item-desc {
    font-size: $font-size--lg;
    line-height: 22px;
  }
}

@media (min-width: $screen-desktop) {
  .features__wrapper {
    width: 700px;
    margin: 60px auto 80px;
  }

  .features__title {
    margin-bottom: 1px;
    font-size: $font-size--lg-title;
    line-height: 57px;
  }

  .features__list {
    width: 300px;
    padding-right: 50px;

    &--short {
      width: 240px;
      padding-right: 110px;
    }
  }

  .features__item-desc {
    letter-spacing: 0.01em;
  }
}
