.features__title {
  font-size: $font-size--h2;
  font-weight: 700;
  color: $gray--darkest;
}

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features__item-desc {
  font-size: $font-size--btn;
  font-weight: 700;
  color: $gray--darkest;
  line-height: 20px;
}
