.features__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  margin-bottom: 60px;
}

.features__title {
  width: 100%;
  margin: 0;

  font-size: $font-size--h2;
  color: $text-color--title;
}

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features__item {
  padding-top: 80px;
}

.features__item-desc {
  font-size: $font-size--btn;
  line-height: 20px;
  font-weight: 700;
  color: $black;
}

@media (min-width: $screen-tablet) {
  .features__wrapper {
    justify-content: space-between;
    width: $content-tablet;
    margin: 55px auto 80px;
  }

  .features__list {
    width: 300px;
  }

  .features__item {
    padding-top: 100px;
  }
}

@media (min-width: $screen-desktop) {
  .features__wrapper {
    width: 700px;
    margin: 60px auto 85px;
  }

  .features__list {
    width: 300px;
    padding-right: 50px;
  }

  .features__item {
    padding-top: 110px;
  }
}
