.field-checkbox__label {
  position: relative;
  font-size: $font-size--md;
  line-height: 18px;
  font-weight: 700;
  color: $text-color--title;

  @include checkbox;
  @include opacity-icon(1, 1, 0.3);
  @include color;
}

.field-checkbox__control:checked + .field-checkbox__label {
  @include checkbox-check;
  @include color;
}

@media (min-width: $screen-tablet) {
  .field-checkbox {
    width: 160px;
    padding-left: 80px;
  }

  .field-checkbox__label {
    font-size: $font-size--lg - 1px;

    @include checkbox(-11px, -79px, 49px);
  }

  .field-checkbox__control:checked + .field-checkbox__label {
    @include checkbox-check(0, -68px, 30px);
  }
}

@media (min-width: $screen-desktop) {
  .field-checkbox {
    width: 180px;
  }
}
