.field-text {
  position: relative;
  margin-bottom: 16px;

  &--phone {
    @include line;
  }

  &--email {
    @include line(15px, 180px);
  }

  &--area {
    margin-bottom: 5px;
    @include line;
  }
}

.field-text__label {
  font-size: $font-size--md;
  line-height: 18px;
  font-weight: 700;
  color: $text-color--title;
}

.field-text__caption {
  position: relative;

  font-size: $font-size--md;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $text-color--muted;
}

.field-text__value {
  width: 100%;
  padding: 10px 0 17px;

  font-family: $font-family;
  font-size: $font-size--md;
  line-height: 18px;

  border: none;
  border-bottom: 2px solid $black;

  &--phone {
    padding: 16px 0;
  }

  &--email {
    padding: 16px 0;
  }

  &+svg {
    position: absolute;
    top: 40px;
    right: 5px;
    opacity: 0.2;
  }

  &:hover,
  &:focus {
    border-color: $color-main;
    outline: none;

     &+svg {
      fill: $color-main--light;
      opacity: 1;
    }
  }
}

.field-text__area {
  width: 100%;
  height: 143px;
  margin: 18px 0 0;
  padding: 14px 15px;
  box-sizing: border-box;

  font-family: $font-family;
  font-size: $font-size--md;
  line-height: 18px;

  border: 2px solid $black;

  &:hover,
  &:focus {
    border-color: $color-main;
    outline: none;
  }
}

@media (min-width: $screen-tablet) {
  .field-text {
    display: flex;
    width: 100%;

    @include line(0, 0);

    &--area {
      width: $content-tablet;
      margin: 21px auto 0;
    }
  }

  .field-text__caption {
    display: block;
    width: 167px;
    padding-top: 6px;

    &--area {
      padding-top: 35px;
    }
  }

  .field-text__label {
    padding-top: 5px;
    font-size: $font-size--lg - 1px;
  }

  .field-text__value {
    padding: 0 15px 13px;
    box-sizing: border-box;

    font-size: $font-size--lg - 1px;

    &--phone {
      width: 500px;
      padding: 0 15px 15px;

      background-color: $gray--lighten;
    }

    &--email {
      width: 500px;
      padding: 0 15px 15px;

      background-color: $gray--lighten;
    }

    &+svg {
      top: 3px;
      right: 24px;
    }
  }

  .field-text__area {
    width: 500px;
    font-size: $font-size--lg - 1px;
  }
}

@media (min-width: $screen-desktop) {
  .field-text {
    &--area {
      width: 875px;
      padding-right: 175px;
      margin: 14px auto 0;
    }
  }

  .field-text__caption {
    width: 113px;
    padding: 8px 0 0 61px;

    &--area {
      padding-top: 34px;
    }
  }

  .field-text__label {
    padding: 4px 0 0 4px;
  }

  .field-text__value {
    &--phone {
      width: 700px;
      padding: 0 18px 15px;
    }

    &--email {
      width: 700px;
      padding: 0 18px 15px;
    }

    &+svg {
      right: 6px;
    }
  }

  .field-text__area {
    width: 700px;
  }
}
