.field-radio__label {
  position: relative;
  display: flex;
  font-size: $font-size--md;
  line-height: 18px;
  font-weight: 700;
  color: $text-color--title;

  @include radio;
  @include opacity-icon(1, 1, 0.3);
  @include color;
}

.field-radio__control:checked + .field-radio__label {
  @include radio($black, block);
  @include color;
}

@media (min-width: $screen-tablet) {
  .field-radio {
    padding-left: 80px;
  }

  .field-radio__label {
    font-size: $font-size--lg - 1px;
  }
}
