.field-checkbox__label {
  font-size: $font-size--md;
  line-height: 18px;
  font-weight: 700;
  color: $text-color--title;
}

@media (min-width: $screen-tablet) {
  .field-checkbox {
    width: 160px;
    padding-left: 80px;
  }

  .field-checkbox__label {
    font-size: $font-size--lg - 1px;
  }
}
