.field-radio__label {
  position: relative;
  display: flex;

  font-size: $font-size--md;
  line-height: 18px;
  font-weight: 700;
  color: $text-color--title;

  @include radio;
}

.field-radio__control:checked + .field-radio__label {
  @include radio-check;
}

.field-radio__control:focus + .field-radio__label,
.field-radio__control:hover + .field-radio__label {
  &::before {
    border-color: $color-main;
  }
}

.field-radio__control:active + .field-radio__label {
  &::before {
    border-color: $black;
    opacity: 0.3;
  }
}

@media (min-width: $screen-tablet) {
  .field-radio {
    padding-left: 80px;
  }

  .field-radio__label {
    font-size: $font-size--lg - 1px;

    @include radio(-15px, -80px, 47px);
  }

  .field-radio__control:checked + .field-radio__label {
    @include radio-check(1px, -64px, 20px);
  }
}
