.minicard {
  width: 260px;
  border: 1px solid $gray--light;
}

.minicard__header {
  margin: 0 25px 25px;
}

.minicard__title {
  font-size: $font-size--btn;
  line-height: 24px;
  color: $text-color--title;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.minicard__desc {
  font-size: $font-size--small;
}

.minicard__footer {
  margin: 0 25px;
  padding: 15px 0;

  border-top: 1px solid $gray--light;
}

.minicard__price {
  line-height: 24px;
  color: $text-color--title;
}

@media (min-width: $screen-tablet) {
  .minicard {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    height: 334px;
  }

  .minicard__image {
    width: 334px;
    height: 334px;
  }

  .minicard__header {
    width: 280px;
  }

  .minicard__footer {
    width: 100%;
    margin-top: -75px;
    margin-left: 365px;
  }
}

@media (min-width: $screen-desktop) {
  .minicard {
    width: 318px;
    height: auto;
  }

  .minicard__image {
    width: 318px;
    height: 464px;
  }

  .minicard__header {
    height: 95px;
  }

  .minicard__footer {
    margin: 0 25px;
  }
}
