.minicard {
  width: 260px;
}

.minicard__image {
  width: 260px;
  height: 194px;
  margin-bottom: -9px;
}

.minicard__wrapper {
  padding: 26px 28px 25px;
  border: 1px solid $gray--light;
}

.minicard__title {
  margin: 0;
  margin-bottom: 5px;

  font-size: $font-size--md;
  line-height: 24px;
  color: $text-color--title;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.minicard__desc {
  font-size: $font-size--xsm;
}

.minicard__footer {
  margin-top: 18px;
  padding-top: 18px;
  border-top: 1px solid $gray--light;
}

.minicard__price {
  font-size: $font-size--sm;
  line-height: 24px;
  color: $text-color--title;
}

@media (min-width: $screen-tablet) {
  .minicard {
    display: flex;
    width: $content-tablet;
    height: 334px;
  }

  .minicard__image {
    width: 334px;
    height: 334px;
  }

  .minicard__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 25px;
  }

  .minicard__title {
    width: 240px;
    font-size: $font-size--lg;
  }

  .minicard__desc {
    font-size: $font-size--sm;
  }

  .minicard__price {
    margin-left: 5px;
    font-size: $font-size--md;
  }
}

@media (min-width: $screen-desktop) {
  .minicard {
    display: block;
    width: 316px;
    height: auto;
  }

  .minicard__image {
    width: 318px;
    height: 464px;
  }

  .minicard__wrapper {
    padding: 24px;
  }

  .minicard__header {
    min-height: 98px;
  }

  .minicard__footer {
    margin-top: 0;
  }

  .minicard__price {
    margin: 0;
  }
}
