.minicard {
  width: 260px;
}

.minicard__image {
  width: 260px;
  height: 195px;
  margin-bottom: -10px;
}

.minicard__wrapper {
  padding: 28px;
  border: 1px solid $gray--light;
}

.minicard__title {
  margin: 0;
}

.minicard__title {
  font-size: $font-size--btn;
  line-height: 24px;
  color: $text-color--title;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.minicard__desc {
  font-size: $font-size--small;
}

.minicard__footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid $gray--light;
}

.minicard__price {
  line-height: 24px;
  color: $text-color--title;
}

@media (min-width: $screen-tablet) {
  .minicard {
    display: flex;
    width: $content-tablet;
    height: 334px;
  }

  .minicard__image {
    width: 334px;
    height: 334px;
  }

  .minicard__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
}

@media (min-width: $screen-desktop) {
  .minicard {
    display: block;
    width: 318px;
    height: auto;
  }

  .minicard__image {
    width: 318px;
    height: 464px;
  }

  .minicard__header {
    height: 90px;
  }

  .minicard__footer {
    margin-top: 0;
  }
}
