.modal {
  padding: 30px 30px 46px;

  background: $white;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  width: 150px;
  margin: 0 auto 13px;

  font-size: $font-size--sm-title;
  text-transform: uppercase;
  color: $text-color--title;
  text-align: center;
}

.modal__add-order {
  font-family: $font-family;
  font-size: $font-size--md;
  line-height: 16px;
  color: $text-color--invert;

  border: 2px solid $color-main--light;
  background-color: $color-main--light;

  &:hover,
  &:focus {
    color: $text-color--invert;

    border: 2px solid $color-main--light;
    background-color: $color-main--light;
  }

  &:active {
    color: rgba($text-color--invert, 0.3);
  }
}

@media (min-width: $screen-tablet) {
  .modal {
    width: 354px;
    margin: 0 auto;
    padding: 33px 106px 45px;
    border: 1px solid #c7c7c7;
  }

  .modal__title {
    width: 100%;
    margin-bottom: 14px;

    font-size: 30px;
    line-height: 57px;
  }
}

@media (min-width: $screen-desktop) {
  .modal__title {
    margin-bottom: 35px;
  }
}
