.modal {
  padding: 35px 30px 40px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: $font-size--sm-title;
  text-transform: uppercase;
  color: $text-color--title;
  text-align: center;
}

.modal__add-order {
  font-family: $font-family;
  font-size: $font-size--md;
  line-height: 20px;
  color: $text-color--invert;

  border: 2px solid $color-main--light;
  background-color: $color-main--light;

  &:hover,
  &:focus {
    color: $text-color--invert;

    border: 2px solid $color-main--light;
    background-color: $color-main--light;
  }

  &:active {
    color: rgba($text-color--invert, 0.3);
  }
}

@media (min-width: $screen-tablet) {
  .modal {
    width: 350px;
    margin: 0 auto;
    padding: 45px 108px;
  }

  .modal__title {
    margin-bottom: 30px;
  }
}

@media (min-width: $screen-desktop) {
  .modal__title {
    margin-bottom: 35px;
  }
}
