.order {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.order__fieldset {
  &--radio {
    margin-bottom: 15px;
  }

  &--checkbox {
    margin-bottom: 25px;
  }

  &--name {
    margin-bottom: 8px;
  }

  &--phone {
    margin-bottom: 2px;
  }
}

.order__legend {
  margin: 12px 0 28px;
  padding: 0;

  font-size: $font-size--md;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $text-color--muted;

  &--name {
    margin-bottom: 23px;
  }
}

.order__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.order__radio {
  padding-left: 62px;

  .order__item {
    padding: 5px 0 20px;
  }
}

.order__checkbox {
  padding-left: 62px;

  .order__item {
    margin-bottom: 31px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.order__phone {
  .order__item {
    margin-bottom: 26px;
  }
}

.order__footer {
  display: flex;
  flex-direction: column;
}

.order__note {
  font-size: $font-size--sm - 1px;
  line-height: 16px;
}

.order__send {
  margin: 30px 0 55px;

  font-family: $font-family;
  font-size: $font-size--md;
  line-height: 16px;
  color: $gray--dark;
}

@media (min-width: $screen-tablet) {
  .order {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto 30px;
  }

  .order__wrapper {
    width: 100%;

    background-color: $gray--lighten;
  }

  .order__fieldset {
    display: flex;
    width: $content-tablet;
    margin: 0 auto;

    &--radio {
      margin-bottom: 23px;
    }

    &--checkbox {
      margin: 0 auto;
      padding: 52px 0 28px;
    }

    &--name {
      margin: 52px auto 25px;
    }

    &--phone {
      margin-bottom: 2px;
      padding: 58px 0 16px;
    }
  }

  .order__legend {
    width: 167px;
    margin: 15px 0 28px;
  }

  .order__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
    padding: 0;
  }

  .order__item {
    padding: 9px 0 36px;
  }

  .order__radio {
    .order__item {
      padding: 13px 0 46px 80px;
    }
  }

  .order__checkbox {
    .order__item {
      margin-bottom: 0;
    }
  }

  .order__name {
    .order__item {
      padding: 9px 0 10px;
    }

    .field-text__value {
      margin-left: 25px;
    }
  }

  .order__phone {
    width: $content-tablet;

    .order__item {
      width: $content-tablet;
      padding: 3px 0 5px;
    }
  }

  .order__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: $content-tablet;
    margin: 0 auto;
    padding: 17px 0 20px;
  }

  .order__send {
    margin: 0;
    padding: 16px 30px;
  }

  .order__note {
    order: 2;
    padding-bottom: 5px;

    font-size: $font-size--md;
    line-height: $line-height;
  }
}

@media (min-width: $screen-desktop) {
  .order {
    margin: 50px auto 30px;
  }

  .order__fieldset {
    width: $content-desktop;

    &--radio {
      margin-bottom: 35px;

      .order__legend {
        margin: 25px 0 0 2px;
      }
    }

    &--checkbox {
      margin: 0 auto;
      padding: 52px 0 23px;
    }

    &--name {
      margin: 52px auto 25px;
    }

    &--phone {
      margin: 0 auto;
      padding: 57px 0 18px;
    }
  }

  .order__legend {
    width: 113px;
    margin: 15px 0;
    padding-left: 61px;
  }

  .order__item {
    padding: 18px 0 27px;
  }

  .order__radio {
    flex-direction: column;

    .order__item {
      padding: 24px 0 34px 80px;
    }
  }

  .order__checkbox {
    width: 790px;

    .order__item {
      padding: 8px 0 39px 80px;
    }
  }

  .order__name {
    width: 700px;
  }

  .order__phone {
    width: 875px;

    .order__item {
      width: 875px;
      padding: 3px 0 5px;
    }
  }

  .order__footer {
    width: 700px;
    padding: 20px 0;
  }

  .order__note {
    padding-bottom: 3px;
  }
}
