.page-header__wrapper {
  .page-header__toggle {
    position: absolute;
    top: 32px;
    right: 21px;
    z-index: 2;

    display: none;
    width: 30px;
    height: 30px;

    cursor: pointer;
    border: none;
  }

  &--close {
    .page-header__list {
      display: none;
    }

    .page-header__toggle {
      display: block;
      background: url("../img/icon-menu-open.svg") no-repeat 0 0 $white;
    }
  }

  &--open {
    .page-header__list {
      display: block;
    }

    .page-header__toggle {
      display: block;
      background: url("../img/icon-menu-close.svg") no-repeat 0 0 $white;
    }
  }
}

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding-top: 8px;

  border-top: 1px solid $gray--light;
  border-bottom: 1px solid $gray--light;
}

@media (min-width: $screen-tablet) {
  .page-header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 50px;

    .page-header__list {
      display: flex;
    }

    .page-header__toggle {
      display: none;
    }
  }

  .page-header__logo {
    justify-content: flex-start;
    align-items: flex-end;
    width: 170px;
    margin-right: 125px;
    border: none;

    @media (min-width: 1070px) {
      margin-right: 200px;
    }
  }

  .page-header__site-nav {
    order: 3;
    margin-top: -70px;
  }
}

@media (min-width: $screen-desktop) {
  .page-header__wrapper {
    width: $content-desktop;
    margin: 0 auto;
  }

  .page-header__logo {
    justify-content: center;
    align-items: flex-start;
    order: 2;
    margin: 0;
  }

  .page-header__site-nav {
    order: 1;
    margin: 0;
  }

  .page-header__list.user-list {
    order: 3;
  }
}
