.reviews__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  margin-bottom: 45px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 11px;

  font-size: $font-size--sm-title;
  color: $text-color--title;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin-bottom: 28px;
}

.reviews__author {
  display: flex;
  flex-direction: column;

  font-size: $font-size--md;
  font-style: normal;
}

.reviews__author-name {
  line-height: 24px;
  font-weight: 700;
  color: $black;
}

.reviews__author-link {
  line-height: 35px;
  color: $text-color;
}

.reviews__wrapper-btn {
  display: flex;
  margin: 27px 0 39px;
}

.reviews__button {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 52px;

  background-color: $white;
  border: 1px solid $gray--light;

  &--prev {
    @include icon-left(12px, 37px, 50px, 26px, "../img/icon-left-arrow.svg");
    @include opacity;
  }

  &--next {
    @include icon-right(12px, 40px, 50px, 26px, "../img/icon-right-arrow.svg");
    @include opacity;
  }
}

.reviews__write {
  flex-grow: 1;
  padding: 13px 15px 16px;

  font-size: $font-size--md + 1;
  line-height: 20px;
}

@media (min-width: $screen-tablet) {
  .reviews__wrapper {
    margin: 70px 50px 89px 0;
    padding: 78px 0 50px 50px;

    background: url("../img/review@1x.jpg") no-repeat 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__title {
    margin-left: -5px;
    font-size: $font-size--md-title;
    line-height: 50px;
  }

  .reviews__list {
    order: 2;
  }

  .reviews__text {
    margin: 38px 0 59px;
  }

  .reviews__author {
    margin-right: 340px;
  }

  .reviews__author-name {
    letter-spacing: 0.04em;
  }

  .reviews__wrapper-btn {
    width: 170px;
    margin: -50px 0 0 auto;
  }

  .reviews__button {
    &--prev {
      @include icon-left(5px, 13px, 50px, 26px, "../img/icon-left-arrow.svg");
    }

    &--next {
      @include icon-right(5px, 18px, 50px, 26px, "../img/icon-right-arrow.svg");
    }
  }

  .reviews__write {
    flex-grow: 0;
    align-self: flex-start;
    margin-left: auto;
    padding: 15px 38px;

    font-size: $font-size--md;
  }
}

@media (min-width: $screen-desktop) {
  .reviews__wrapper {
    width: $content-desktop - 175px;
    margin: 80px auto 163px;
    padding: 70px 0 90px 174px;
  }

  .reviews__title {
    margin-left: -3px;
    font-size: $font-size--lg-title;
    line-height: 57px;
  }

  .reviews__text {
    margin: 39px 0 40px;
    padding-right: 100px;
  }

  .reviews__author-name {
    letter-spacing: 0.01em;
  }

  .reviews__write {
    margin-top: 10px;
    padding: 14px 38px 15px;
  }
}
