.reviews__wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px;
  margin-bottom: 60px;
}

.reviews__title {
  margin: 0;

  font-size: $font-size--h2;
  color: $text-color--title;
}

.reviews__item {
  margin: 0;
}

.reviews__author {
  font-style: normal;
}

.reviews__author-link {
  color: $text-color;
}

.reviews__author-name {
  font-size: $font-size--btn;
  line-height: 24px;
  font-weight: 700;
  color: $black;
}

.reviews__wrapper-btn {
  display: flex;
  margin: 35px 0;
}

.reviews__button {
  display: inline-block;
  width: 50%;
  height: 50px;

  background-color: $white;
  border: 1px solid $gray--light;
}
