.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  border-bottom: 1px solid $gray--light;

  &--md-hide {
    display: none;
  }
}

.site-list__link {
  display: flex;
  padding: 26px 0 28px 75px;

  font-size: $font-size--md;
  line-height: 24px;
  font-weight: 700;
  color: $black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $screen-tablet) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    width: 440px;
  }

  .site-list__item {
    width: 50%;
    border-bottom: none;
  }

  .site-list__link {
    padding: 25px 0;
    font-size: $font-size--sm;
  }
}

@media (min-width: $screen-desktop) {
  .site-list__item {
    &--md-hide {
      display: block;
    }
  }

  .site-list__link {
    font-size: $font-size--md;
  }

  .site-list__item--md-hide .site-list__link {
    font-size: $font-size--sm;
  }
}
