.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {
  padding: 25px;
  padding-left: 75px;

  border-bottom: 1px solid $gray--light;

  &--hidden {
    display: none;
  }
}

.site-list__link {
  font-size: $font-size--btn;
  line-height: 24px;
  font-weight: 700;
  color: $black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $screen-tablet) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    width: 440px;
  }

  .site-list__item {
    width: 50%;
    padding: 25px 0;

    border-bottom: none;
  }

  .site-list__link {
    font-size: $font-size;
    line-height: 24px;
  }
}

@media (min-width: $screen-desktop) {
  .site-list__item {
    &--hidden {
      display: block;
    }
  }
}
