.user-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-list__item {
  padding: 25px;
  padding-left: 75px;

  border-bottom: 1px solid $gray--light;

  &--hidden {
    display: none;
  }
}

.user-list__link {
  font-size: $font-size--btn;
  line-height: 24px;
  font-weight: 700;
  color: $black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $screen-tablet) {
  .user-list {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
  }

  .user-list__item {
    width: 270px;
    margin-left: auto;
    padding: 25px 0;

    text-align: right;

    border-bottom: none;

    &:first-child {
      width: 80px;
    }

    &--hidden {
      display: block;
    }
  }

  .user-list__link--search {
    font-size: 0;
  }

  .user-list__link--free {
    font-size: $font-size;
    font-weight: 400;
    color: $text-color;
  }
}

@media (min-width: $screen-desktop) {
  .user-list {
    padding-left: 90px;
  }
}
